@import "settings";
@import "foundation";

// Or selectively include components
// @import
//   "foundation/components/accordion",
//   "foundation/components/alert-boxes",
//   "foundation/components/block-grid",
//   "foundation/components/breadcrumbs",
//   "foundation/components/button-groups",
//   "foundation/components/buttons",
//   "foundation/components/clearing",
//   "foundation/components/dropdown",
//   "foundation/components/dropdown-buttons",
//   "foundation/components/flex-video",
//   "foundation/components/forms",
//   "foundation/components/grid",
//   "foundation/components/inline-lists",
//   "foundation/components/joyride",
//   "foundation/components/keystrokes",
//   "foundation/components/labels",
//   "foundation/components/magellan",
//   "foundation/components/orbit",
//   "foundation/components/pagination",
//   "foundation/components/panels",
//   "foundation/components/pricing-tables",
//   "foundation/components/progress-bars",
//   "foundation/components/reveal",
//   "foundation/components/side-nav",
//   "foundation/components/split-buttons",
//   "foundation/components/sub-nav",
//   "foundation/components/switch",
//   "foundation/components/tables",
//   "foundation/components/tabs",
//   "foundation/components/thumbs",
//   "foundation/components/tooltips",
//   "foundation/components/top-bar",
//   "foundation/components/type",
//   "foundation/components/offcanvas",
//   "foundation/components/visibility";


<<<<<<< HEAD
=======

>>>>>>> FETCH_HEAD
$green-color: #75A928;
$red-color: #BC1142;
$white-color: #FFF;
$grey-color: #EEE;
$transparent-color: rgba(255, 255, 255, 0.9);
$shadow-color: rgba(0, 0, 0, 0.12);

<<<<<<< HEAD


$include-html-button-classes: $include-html-classes;

/* We use these to controls height and width styles. */
$f-dropdown-max-width: 200px;
$f-dropdown-height: auto;
$f-dropdown-max-height: none;
$f-dropdown-margin-top: 2px;

/* We use this to control the background color */
$f-dropdown-bg: #75A928;

/* We use this to set the border styles for dropdowns. */
$f-dropdown-border-style: solid;
$f-dropdown-border-width: 1px;
$f-dropdown-border-color: scale-color(#fff, $lightness: -20%);

/* We use these to style the triangle pip. */
$f-dropdown-triangle-size: 6px;
$f-dropdown-triangle-color: #fff;
$f-dropdown-triangle-side-offset: 10px;

/* We use these to control styles for the list elements. */
$f-dropdown-list-style: none;
$f-dropdown-font-color: #555;
$f-dropdown-font-size: rem-calc(14);
$f-dropdown-list-padding: rem-calc(5 10);
$f-dropdown-line-height: rem-calc(18);
$f-dropdown-list-hover-bg: #eeeeee;
$dropdown-mobile-default-float: 0;

/* We use this to control the styles for when the dropdown has custom content. */
$f-dropdown-content-padding: rem-calc(20);


@media only screen and (min-width: 600px) {
    #drop-button {
        display: none;    
    }
    
}

@media only screen and (max-width: 599px) {
    #menu {
        display: none;    
    }
}


=======
>>>>>>> FETCH_HEAD
body {
    margin-top: 60px;
    font-family: 'Roboto', sans-serif;
    
    h1, h2, h3, h4, h5, h6 {
        font-family: 'Roboto', sans-serif;
    }
}

.header {
    line-height: 60px;
    height: 60px;
    background: $transparent-color;
    box-shadow: 0 2px 3px $shadow-color;
    
    h1 {
        float: left;
        margin: 0;
        line-height: 60px;
        font-size: 25px;
        background: url('../img/logo.png');
        background-size: 40px;
        background-repeat: no-repeat;
        background-position-y: 12px;
        padding-left: 50px;
        margin-right: 50px;
    }
    
<<<<<<< HEAD
    sub {
        font-weight: 700;
        font-size: 10px;
    }

=======
>>>>>>> FETCH_HEAD
    a {
        color: #666;
        font-weight: 100;
        text-decoration: none;
        line-height: 64px;
        margin: 8px 10px 0 10px;
        font-size: 15px;
    }
<<<<<<< HEAD

    #drop-button{
        margin: 0;
    }

    #drop-menu {
        display: none;
        position: fixed;
        top: 60px;
        right: 0;
        width: 300px;
        background: $transparent-color;
        border-top: 1px solid #dfe4e6;
        box-shadow: 0 3px 6px $shadow-color;

        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            li {
                border-bottom: 1px solid #dfe4e6;
                &:last-of-type {
                    border-bottom: none;
                }
                a {
                    padding: 0 18px;
                    line-height: 34px;
                }   
            }
        }

    }   
=======
>>>>>>> FETCH_HEAD
}

.content {
    .row {
        padding: 30px 0 20px 0;
    }
    h1, h2, h3 {
        font-weight: 200;
    }
    
    .intro {
        color: $white-color;
        background: $red-color;
        background-image: url('../img/intro_bg.png');
        background-repeat: no-repeat;
        background-position: right -200px center;
        background-size: 500px;
        
        h1 {
            color: $white-color;
        }
        a {
            color: $green-color;    
        }
    }
    
    .install {
        background: $grey-color;
        
        h1 {
            color: $white-color;
        }
        a {
            color: $green-color;    
        }
    }

    .fork {
        background: $green-color;
        background-image: url('../img/fork.png');
        background-repeat: no-repeat;
        background-position: top right;
        background-size: 150px;
    }
}
<<<<<<< HEAD
=======


>>>>>>> FETCH_HEAD
